/* Контейнер для виджета */
#chat-widget {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}

/* Заголовок */
#chat-header {
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
}

/* Заголовок h3 */
#chat-header h3 {
    margin: 0;
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

/* Основное тело чата */
#chat-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

/* Сообщения */
#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
    box-sizing: border-box;
}

/* Сообщения */
.message {
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
    max-width: calc(100% - 20px);
    word-wrap: break-word;
}

/* Сообщения пользователя */
.user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    margin-left: auto;
}

/* Сообщения бота */
.bot-message {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
    margin-right: auto;
}

/* Футер */
#chat-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    height: 60px;
    position: relative;
}

/* Поле ввода */
#user-input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    flex: 1;
    margin-right: 5px;
    max-width: 160px; /* Уменьшаем максимальную ширину */
    font-size: 12px; /* Уменьшаем размер шрифта */
}

/* Кнопка отправки */
#send-button {
    padding: 6px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    max-width: 70px; /* Уменьшаем максимальную ширину */
    font-size: 12px; /* Уменьшаем размер шрифта */
}

/* Минимизированный вид */
#chat-widget.minimized {
    height: 50px;
    width: 300px;
    bottom: 20px;
}

/* Скрыть тело и футер при минимизации */
#chat-widget.minimized #chat-body,
#chat-widget.minimized #chat-footer {
    display: none;
}

/* Заголовок в минимизированном состоянии */
#chat-widget.minimized #chat-header {
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
